/* Tablet (768px - 1024px) */
@media screen and (max-width: 1024px) {
    body {
        font-size: 15px;
    }
}

/* Telefon (320px - 767px) */
@media screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }
}